@import '../_variables.css';

.accordion-button {
    background-color: unset;
    color: #fff;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #3b2e4a;
}

.faq__item {
    background-color: unset;
    color: #fff;
}

.faq {
    background-color: var(--color-faq-background);
}

.faq-title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
}

@media (min-width: 992px) {
    .faq-title {
        font-size: 3.5rem;
    }
}

.icon-text {
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
}

.faq-clickable {
    cursor: pointer;
}
